DIGITAL_OCEAN_SPACES_ENDPOINT=https://sfo3.digitaloceanspaces.com
DIGITAL_OCEAN_SPACES_BUCKET=lifehouse
DIGITAL_OCEAN_SPACES_KEY=YOUR_DIGITALOCEAN_SPACES_KEY
DIGITAL_OCEAN_SPACES_REGION=sfo3
STRIPE_SECRET_KEY=sk_live_YOUR_KEY_HERE
STRIPE_WEBHOOK_SECRET=whsec_YOUR_WEBHOOK_SECRET
ADMIN_SEED_PASSWORD=LifeHouse2025!
